body {
  background-color: #ffd6db;
}
div.3dback {
  position: fixed;
  top: 0;
  right: 0;
}
div.threeddiv{
  z-index: -100;
  position: fixed;
  top: window.innerHeight/2;
  left: window.innerwidth/2;
}
div.fixed 
{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;
}

h1 {
  color: #ea4486;
  font-size: 80px;
  text-align: center;
}
h2 {
  color: black;
  font-size: 24px;
  text-align: center;
}
p {
  color: #ea4486;
  text-align: center;
  max-width: 600px;
  margin: auto;
}
a {
  color: #ea4486;
}
